interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.motogp.pulselive.com/motogp/v1/results/seasons
  response:
    body:
      string: '[{"id":"e88b4e43-2209-47aa-8e83-0e0b1cedde6e","name":null,"year":2026,"current":true},{"id":"ae6c6f0d-c652-44f8-94aa-420fc5b3dab4","name":null,"year":2025,"current":false},{"id":"dd12382e-1d9f-46ee-a5f7-c5104db28e43","name":null,"year":2024,"current":false},{"id":"db8dc197-c7b2-4c1b-b3a4-6dc534c023ef","name":null,"year":2023,"current":false},{"id":"db8dc197-c7b2-4c1b-b3a4-6dc534c014ef","name":null,"year":2022,"current":false},{"id":"db8dc197-c7b2-4c1b-b3a4-7dc723c087ed","name":null,"year":2021,"current":false},{"id":"fa729c5c-a34a-40b9-8ebf-2578d9433517","name":null,"year":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.motogp.pulselive.com/motogp/v1/results/categories?seasonUuid=dd12382e-1d9f-46ee-a5f7-c5104db28e43
  response:
    body:
      string: "[{\"id\":\"e8c110ad-64aa-4e8e-8a86-f2f152f6a942\",\"name\":\"MotoGP\u2122\",\"legacy_id\":3},{\"id\":\"549640b8-fd9c-4245-acfd-60e4bc38b25c\",\"name\":\"Moto2\u2122\",\"legacy_id\":2},{\"id\":\"954f7e65-2ef2-4423-b949-4961cc603e45\",\"name\":\"Moto3\u2122\",\"legacy_id\":1},{\"id\":\"3bda82ba-0445-440c-9375-cd48d777bd95\",\"name\":\"MotoE\u2122\",\"legacy_id\":19}]"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.motogp.pulselive.com/motogp/v1/results/events?seasonUuid=dd12382e-1d9f-46ee-a5f7-c5104db28e43
  response:
    body:
      string: "[{\"country\":{\"iso\":\"QA\",\"name\":\"Qatar\",\"region_iso\":\"\"},\"event_files\":{\"circuit_information\":{\"url\":\"https://resources.motogp.com/files/results/2024/QAT/CircuitInformation.pdf\",\"menu_position\":1},\"podiums\":{\"url\":\"https://resources.motogp.com/files/results/2024/QAT/Podiums.pdf\",\"menu_position\":2},\"pole_positions\":{\"url\":\"https://resources.motogp.com/files/results/2024/QAT/PolePositions.pdf\",\"menu_position\":2},\"nations_statistics\":{\"url\":\"\",\"menu_position\":2},\"riders_all_time\":{\"url\":\"https://resources.motogp.com/files/results/2024/QAT/table4.pdf\",\"menu_position\":2}},\"circuit\":{\"id\":\"e9a71399-cea9-400a-b2ef-48bfdcdf6526\",\"name\":\"Lusail
        International Circuit\",\"legacy_id\":93,\"place\":\"Doha\",\"nation\":\"QAT\"},\"test\":false,\"sponsored_name\":\"Qatar
        Airways Grand Prix of Qatar\",\"date_end\":\"2024-03-10\",\"toad_api_uuid\":\"10a432bf-2496-4b2b-9bfa-19a555d9eee4\",\"date_start\":\"2024-03-08\",\"additional_name\":\"QATAR\",\"name\":\"GRAND
        PRIX OF QATAR\",\"legacy_id\":[{\"categoryId\":3,\"eventId\":1},{\"categoryId\":2,\"eventId\":1},{\"categoryId\":1,\"eventId\":1}],\"season\":{\"id\":\"dd12382e-1d9f-46ee-a5f7-c5104db28e43\",\"year\":2024,\"current\":false},\"short_name\":\"QAT\",\"id\":\"276ffee0-7040-49ca-a3a5-ab7b52685d3c\",\"status\":\"FINISHED\"},{\"country\":{\"iso\":\"PT\",\"name\":\"Portugal\",\"region_iso\":\"\"},\"event_files\":{\"circuit_information\":{\"url\":\"https://resources.motogp.com/files/results/2024/POR/CircuitInformation.pdf\",\"menu_position\":1},\"podiums\":{\"url\":\"https://resources.motogp.com/files/results/2024/POR/Podiums.pdf\",\"menu_position\":2},\"pole_positions\":{\"url\":\"https://resources.motogp.com/files/results/2024/POR/PoleP[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.motogp.pulselive.com/motogp/v1/results/sessions?eventUuid=276ffee0-7040-49ca-a3a5-ab7b52685d3c&categoryUuid=e8c110ad-64aa-4e8e-8a86-f2f152f6a942
  response:
    body:
      string: "[{\"date\":\"2024-03-08T15:45:00+00:00\",\"number\":1,\"condition\":{\"track\":\"Dry\",\"air\":\"24\xBA\",\"humidity\":\"70%\",\"ground\":\"38\xBA\",\"weather\":\"Clear\"},\"circuit\":\"Lusail
        International Circuit\",\"session_files\":{\"classification\":{\"url\":\"https://resources.motogp.com/files/results/2024/QAT/MotoGP/FP1/Classification.pdf\",\"menu_position\":1},\"analysis\":{\"url\":\"https://resources.motogp.com/files/results/2024/QAT/MotoGP/FP1/Analysis.pdf\",\"menu_position\":2},\"average_speed\":{\"url\":\"https://resources.motogp.com/files/results/2024/QAT/MotoGP/FP1/AverageSpeed.pdf\",\"menu_position\":2},\"fast_lap_sequence\":{\"url\":\"https://resources.motogp.com/files/results/2024/QAT/MotoGP/FP1/FastLapSequence.pdf\",\"menu_position\":2},\"lap_chart\":{\"url\":\"\",\"menu_position\":2},\"analysis_by_lap\":{\"url\":\"\",\"menu_position\":2},\"fast_lap_rider\":{\"url\":\"\",\"menu_position\":2},\"grid\":{\"url\":\"\",\"menu_position\":2},\"session\":{\"url\":\"https://resources.motogp.com/files/results/2024/QAT/MotoGP/FP1/Session.pdf\",\"menu_position\":2},\"world_standing\":{\"url\":\"\",\"menu_position\":2},\"best_partial_time\":{\"url\":\"https://resources.motogp.com/files/results/2024/QAT/MotoGP/FP1/BestPartialTime.pdf\",\"menu_position\":2},\"maximum_speed\":{\"url\":\"https://resources.motogp.com/files/results/2024/QAT/MotoGP/FP1/MaximumSpeed.pdf\",\"menu_position\":2},\"combined_practice\":{\"url\":\"\",\"menu_position\":2},\"combined_classification\":{\"url\":\"\",\"menu_position\":2}},\"id\":\"048729b7-169e-4f8b-9f1f-9656061f14ba\",\"type\":\"FP\",\"category\":{\"id\":\"e8c110ad-64aa-4e8e-8a86-f2f152f6a942\",\"legacy_id\":3,\"name\":\"MotoGP\u2122\"},\"event\":{\"id\":\"276ffee0-7040-49ca-a3a5-ab7b52685d3c\",\"name\":\"GRAND
        PRIX OF QATAR\",\"sponsored_name\":\"Qatar Airways Grand Prix of Qatar\",\"short_name\":\"QAT\",\"test\":false,\"season\":\"2024\",\"circuit\":{\"id\":\"e9a71399-cea9-400a-b2ef-48bfdcdf6526\",\"name\":\"Lusail
        International Circuit\",\"legacy_id\":93,\"place\":\"Doha\",\"nation\":\"QAT\"},\"country\":{\"iso\":\"QA\",\"name\":\"Qatar\",\"region_iso\":\"\"}},\"status\":\"FINISHED\"},{\"date\":\"2024-03-08T20:10:00+00[...]
